::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: rgba(229, 231, 235);
}

::-webkit-scrollbar-thumb {
  background: rgba(30, 58, 138);
  border-radius: 2px;
}

.h-res {
  height: 28rem;
}
html {
  font-family: "Arial Nova", Tahoma, sans-serif;
  scroll-behavior: smooth;
}
.quote-bg {
  background-size: cover;
  background-image: url("/quote.gif");
}
@media (min-width: 1400px) {
  .h-res {
    height: 36rem;
  }
}
.topbar {
  max-height: 0;
  transition: max-height 0.25s ease-out;
  overflow: hidden;
}
.topbar-open {
  max-height: 100vh;
  transition: max-height 0.5s ease-in;
}
